.page_404 {
    padding: 30px;
    background: #c4e9d5;
    font-family: 'Arvo', serif;
    height: 100vh;
    width: 100%;
}

.four_zero_four_bg {
    margin-top: 50px;
    background-image: url('/images/e404/e404_3.gif');
    height: 500px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.four_zero_four_text{
    font-weight:900 !important;
    font-size: 150px;
    color: #f2125e !important;
    width: 100%;
}

.detail_box{
    font-size:30px !important;
}

.detail_content{
    font-size:30px !important;
    font-weight: 900 !important;
    color:  #f2125e !important;
}

.four_zero_four{
    width: 100%;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.link_404 {
    color: #fff !important;
    padding: 15px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
    font-size: 20px;
    border-radius: 4px;
}

.contant_box_404 {
    margin-top: -50px;
}